/* REMARK STYLES */

@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
}

/* INDEX STYLES */

.index {
  width: 600px;
  margin: 100px auto 0;
  background-color: white;
  color: #444;
}

.index a {
  color: #aaa;
}

.remark-slide-content {
  color: #444;
}

.remark-slide-content img {
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
